/****** Object:  Table [dbo].[p2pool_CurrentPayouts]    Script Date: 11/25/2013 12:46:19 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p2pool_CurrentPayouts](
	[Id] [int] NOT NULL,
	[Payouts] [nvarchar](max) NOT NULL,
	[Updated] [int] NOT NULL,
 CONSTRAINT [PrimaryKey_442fe136-3ec7-4cef-ad27-f51256c2d548] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
